.sidebar {
  width: 15%;
  position: fixed;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

.logo-container {
  margin-bottom: 4rem;
  margin-top: 1.3rem;
}

.logo-container:hover {
  animation: spin 1s ease-in-out infinite;
  cursor: pointer;
}
