* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #d86767;
}

a {
  text-decoration: none;
  color: #3498db; /* Adjust link color */
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #207ab8; /* Adjust hover color */
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: #3498db;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  transform-origin: center;
  position: relative;
  overflow: hidden;
}

.btns:hover {
  background: #207ab8; /* Adjust hover background color */
  transform: scale(1.05);
}

.btns::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btns:hover::before {
  opacity: 1;
}
